@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', 'system-ui', sans-serif;
}

@layer components {
  .w-100dvw {
    width: 100dvw;
    max-width: 100dvw;
  }

  .h-100dvh {
    height: 100dvh;
    max-height: 100dvh;
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .mx-dashboard {
    @apply mx-5 xs:mx-7 xl:mx-10 3xl:mx-20 4xl:mx-28;
  }

  .px-dashboard {
    @apply px-5 xs:px-7 xl:px-10 3xl:px-20 4xl:px-28;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-[#85ffc4] via-[#5cc6ff] to-[#bc85ff];
  }

  .text-gradient {
    @apply bg-gradient inline-block bg-clip-text text-transparent;
  }

  .mb-section {
    @apply mb-20 xl:mb-24;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
